$bgcolor: navy;
$textcolor: black;

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 90px 0;
}

// .weather-today-feels {
//   display: inline-block;
// }

.header__btns {
  display: flex;
  flex-wrap: wrap;
}


.search {
  position: relative;

}
.search__input {
  background: rgba(76, 82, 85, 0.4);
  width: 274px;
  height: 44px;
  caret-color: navy; 
  border-radius: 5px 0 0 5px;
  cursor: text;
  font-size: 16px;
  color: $textcolor;
  outline: 0;
  border: 0;
}

.search__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
}

.search__btn {
  background: rgba(174, 181, 185, 0.5);
  border-radius: 0 5px 5px 0;
  width: 100px;
  height: 44px;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  outline: 0;
  padding-top: 1px;
}

.search__mic {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 114px;
  top: 7px;
  // opacity: 0.9;
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.3s linear;
  &:hover {
    background-color: lightblue;
    border-radius: 50%;
  }
}

.btn--cels {
  width: 44px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5);
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  border-radius: 5px 0 0 5px;
  outline: 0;
}

.btn--fahr {
  width: 44px;
  height: 44px;
  background: rgba(76, 82, 85, 0.4); 
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  border-radius: 0 5px 5px 0;
  outline: 0;
}

.btn--image {
  width: 44px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5);
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  margin-right: 10px;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background: lightblue;
  }
}

/*******************DROPDOWN***************************/

.dropdown {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(174, 181, 185, 0.5);
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  margin-right: 10px;
  border-radius: 5px;
  ul {
    margin:0;
    padding:0;
    list-style: none;
    position: relative;
    display: inline-block;
  }
  li {
    cursor: pointer;
    ul {
      display: none;
      li {
        position: relative;
        text-align: left;
        background: transparent;
        padding: 15px 15px;
        padding-bottom:0;
        z-index: 2;
        font-size: 15px;
        color: #3c3c3c;
        &:last-of-type {
          padding-bottom: 15px;
        }
        span {
          padding-left: 5px;
        }
      }
    }
    &:hover {
      ul {
        position: absolute;
        top:29px;
        right:-15px;
        display: block;
        background: whitesmoke;
        width: 120px;
        padding-top: 0px;
        z-index: 1;
        border-radius:5px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
      } 
      .triangle {
        position: absolute;
        top: 15px;
        right: -10px;
        z-index:10;
        height: 14px;
        overflow:hidden;
        width: 30px;
        background: transparent;
        &:after {
          content: '';
          display: block;
          z-index: 20;
          width: 15px;
          transform: rotate(45deg) translateY(0px) translatex(10px);
          height: 15px;
          background: #fff;
          border-radius:2px 0px 0px 0px;
          box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        }
      }
    }
  }
}

.dropdown li ul li span:hover, .dropdown li ul li span.active {
  color: #146c78;
}
.flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.flag-ru {
  background-image: url('../assets/ru.png'); 
}
.flag-en {
  background-image: url('../assets/en.png');
}
.flag-be {
  background-image: url('../assets/be.png');
  background-position: left;
}

/********************MAIN************************/


.main__container {
  margin: 5% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.location {
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: $textcolor;
}

#date, #time, #weekdayShort, #month  {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $textcolor;
}

.weather {
  margin-bottom: 30px;
}

.weather-forecast-container {
  display: flex;
  flex-wrap: wrap;
  .forecast {
    width: 28%;
    margin-right: 3%;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: $textcolor;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    .forecast__day {
      text-align: center;
    }
    .forecast__info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .forecast__icon {
        width: 70px;
        height: 70px;
        background-size: cover;
        display: inline-block;
      }
    }
  }
}

.weather-today {
  display: flex;
  flex-wrap: wrap;
  .weather-today__temp {
    font-size: 200px;
    line-height: 373px;
    text-transform: uppercase;
    color: $textcolor;
    font-weight: bold;
  }
  .weather-today__details {
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    color: $textcolor;
    text-transform: uppercase;
    #weather-icon-today {
      width: 162px;
      height: 142px;
      background-size: cover;
      margin-bottom: 20px;
    }
    .weather-today-wind {
      display: inline-block;
    }
  }
}

#map { 
  width: 400px;
  height: 400px;
  // position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  margin-bottom: 15px;
}

.lat, .lng {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  color: $textcolor;
}

@media (max-width: 767px)  {
  .main__container {
      flex-direction: column;
  }
}
  