$bgcolor: navy;
$textcolor: rgb(219, 216, 216);

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loading {
  background-image: url('https://media.giphy.com/media/4EFt4UAegpqTy3nVce/giphy.gif');
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

.scaled {
  transform: scale(1.2) !important;
}

.active {
  background: rgba(174, 181, 185, 0.5) !important;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 90px 0;
}

.header__btns {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}


.search {
  position: relative;

}
.search__input {
  background: rgba(76, 82, 85, 0.4);
  width: 260px;
  height: 44px;
  caret-color: navy; 
  border-radius: 5px 0 0 5px;
  cursor: text;
  font-size: 16px;
  color: $textcolor;
  outline: 0;
  border: 0;
}

.search__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  padding-left: 10px;
}

.search__btn {
  background: rgba(174, 181, 185, 0.5);
  border-radius: 0 5px 5px 0;
  width: 100px;
  height: 44px;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  outline: 0;
  padding-top: 1px;  
}

.search__mic {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 114px;
  top: 7px;
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.3s linear;
  &:hover {
    background-color: lightblue;
    border-radius: 50%;
  }
}

.search__loader--active {
  width: 100px;
  height: 44px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: all 0.3s linear;
  opacity: 0.3;
  background-image: url('https://media.giphy.com/media/iJOZwC1R7WVxAxs4Gs/giphy.gif');
  background-size: cover;
  background-position: center;
}

.btn--cels {
  width: 44px;
  height: 44px;
  background: rgba(76, 82, 85, 0.4);
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  border-radius: 5px 0 0 5px;
  outline: 0;
}

.btn--fahr {
  width: 44px;
  height: 44px;
  background: rgba(76, 82, 85, 0.4); 
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  border-radius: 0 5px 5px 0;
  outline: 0;
  margin-right: 10px;
}

.btn--image {
  width: 44px;
  height: 44px;
  border: 0;
  outline: 0;
  margin-right: 10px;
  border-radius: 5px;
  background-image: url('../assets/refreshbg.png');
  opacity: 0.6;
}

.play {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.3s linear;
  opacity: 0.7;
}

.btn--voice {
  width: 44px;
  height: 44px;
  border: 0;
  outline: 0;
  margin-right: 10px;
  border-radius: 5px;
  background:  rgba(38, 40, 41, 0.5);
  position: relative;
  margin-right: 10px;
}

.btn--info {
  width: 44px;
  height: 44px;
  background: rgba(174, 181, 185, 0.5); 
  border: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  border-radius: 5px;
  outline: 0;
}

.ru, .en, .be {
  width: 44px;
  height: 44px;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: $textcolor;
  background:  rgba(76, 82, 85, 0.4);
}

.ru {
  border-radius: 5px 0 0 5px;
}

.be {
  margin-right: 10px;
  border-radius: 0 5px 5px 0;
}

.btn {
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    box-shadow: 0px 0px 6px 3px lightblue;
  }
}

/*******************MODAL**********************/

.modal {
  position: absolute;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  transform: translate(0%, 30%);
  z-index: 2;
}

.modal__content {
  text-align: center;
  color: rgb(15, 13, 13);
  padding: 10px;
}

.modal__close-button {
  width: 17%;
  margin: 10px 42%;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  color: whitesmoke;
  background: rgba(76, 82, 85, 0.4);
  text-transform: uppercase;
  justify-content: center;
  outline: 0;
}

.modal__close-button:hover {
  cursor: pointer;
}

/********************MAIN************************/


.main__container {
  margin: 5% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.location {
  font-size: 3rem;
  line-height: 54px;
  text-transform: uppercase;
  color: $textcolor;
}

#date, #time, #weekdayShort, #month  {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $textcolor;
}

.weather {
  margin-bottom: 30px;
}

.weather-forecast-container {
  display: flex;
  flex-wrap: wrap;
  .forecast {
    width: 28%;
    margin-right: 6%;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: $textcolor;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    .forecast__day {
      text-align: center;
    }
    .forecast__info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .forecast__icon {
        width: 70px;
        height: 70px;
        background-size: cover;
        display: inline-block;
      }
    }
  }
}

.weather-today {
  display: flex;
  flex-wrap: wrap;
  .weather-today__temp {
    font-size: 200px;
    line-height: 373px;
    text-transform: uppercase;
    color: $textcolor;
    font-weight: bold;
  }
  .weather-today__details {
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    color: $textcolor;
    text-transform: uppercase;
    #weather-icon-today {
      width: 162px;
      height: 142px;
      background-size: cover;
      margin-bottom: 20px;
    }
    .weather-today-wind {
      display: inline-block;
    }
  }
}

#map { 
  width: 400px;
  height: 400px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  margin-bottom: 15px;
}

.lat, .lng {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  color: $textcolor;
}

@media (max-width: 1200px)  {
.main__container {
  justify-content: center;
}
}

@media (max-width: 1020px)  {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal {
    margin-top: 45px;
  }

  .header__btns {
    margin-bottom: 20px;
  }

}

@media (max-width: 767px)  {
  .main__container {
      flex-direction: column;
  }

  .header {
    margin: 40px 30px 0;
  }

  .search__input {
    width: 200px;
  }

  .search__btn {
    width: 60px;
    font-size: 13px;
    padding-top: 1px;
  }

  .search__loader--active {
    width: 60px;
  }

  .search__mic {
    right: 58px;
  }

  .weather-forecast-container {
    padding-top: 15px;
  }

  .weather-today .weather-today__temp {
    font-size: 150px;
  }
}

@media (max-width: 595px)  {
  
  .main__container {
    margin: 9% 12%;
  }

  .search__input {
    width: 140px;
  }

  .weather-forecast-container {
    flex-direction: column;
  }

  #map { 
    width: 250px;
    height: 250px;  
  }

}

@media (max-width: 468px) {
.btn--info {
  margin-top: 20px;
}
}

@media (max-width: 424px) {
    .btn--voice {
      margin-top: 20px;
    }
}

@media (max-width: 370px) {
      .btn--image {
        margin-top: 20px;
      }
}


   